@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome this is my Favorite Video Music</h1>
   
</div>

<div class="containervideo">
    <div class="MyVideo">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Q376chG2yDs?si=xZxyXZFseJYt8GVz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
        <h1 class="text">This is my animation</h1>
        <hr />

    <div class="containerbox" id="containerbox1">
        <div class="box1" id="box"> Box1</div>
        
    </div>
    <button onclick="myMove()">Click Me</button>
    
</div>
