html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.containervideo {
display:flex;
justify-content:center;
align-items:center;
background-color:darkmagenta;
flex-direction:column;
min-height:100vh;
padding:1rem;
}

.text {
color:white;
}

.containerbox {
    width:400px;
    background-color:aliceblue;
    height:400px;
    position:relative;
}
.box1 {
background-color:darkgoldenrod;
width:50px;
height:50px;    
display:flex;
justify-content:center;
align-items:center;
position:absolute;

}
hr {
    border: 1px solid white;
    margin-bottom: 25px;
    width:80%;
}
button {
    width:400px;
    background-color:blue;
    color:white;
}